.Card {
  cursor: pointer;
  list-style: none;
  padding: 10px;
  background-color: rgba(253, 240, 200, 0.97);
  text-align: center;
  border-radius: 30px;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.5);
}

.Card:hover {
  animation: bounce 0.4s linear;
}

@keyframes bounce {
  20% {
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-2px);
  }
  80% {
    transform: translateY(-8px);
  }
}

.Card-title {
  text-transform: uppercase;
  font-size: large;
  font-weight: bolder;
}

.Card-image {
  height: 120px;
}
